/* 5. className과 css 파일을 생성하고, 원하는 css 를 추가한다. (화려 X) */
.btn {
  padding: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 12px;
  background-color: whitesmoke;
  border: none;
  border-radius: 4px;
}
